body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

header {
  margin-bottom: 25px;  

}

#hello {
  margin: 5px;
  font-family: 'Indie Flower', cursive;
  font-size: 55px;
  font-weight: bold;
  color: pink;
}


footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}